* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EAEAEB; }

#wrapper {
  border-top: 1px solid #fff;
  margin: 20px auto;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  height: 600px;
  box-shadow: 0 2px 15px #898A8A; }

header {
  padding: 0px;
  margin: 0;
  height: 40px;
  line-height: 40px;
  background: #E4E9EB;
  /* Old browsers */
  background: -moz-linear-gradient(top, #E4E9EB 0%, #CDD1D4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E4E9EB), color-stop(100%, #CDD1D4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #E4E9EB 0%, #CDD1D4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #E4E9EB 0%, #CDD1D4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #E4E9EB 0%, #CDD1D4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #E4E9EB 0%, #CDD1D4 100%);
  /* W3C */
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #BFBFBF; }
  header h1 {
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    font-size: 1.7em;
    line-height: 30px; }

aside {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E9EEF2;
  height: 557px;
  border-radius: 0 0 0 5px; }
  aside .blue {
    color: #337ab7;
    font-weight: bold;
    background-color: #F2F2F2; }

#main {
  border-top: 1px solid white;
  height: 565px; }
  #main #table-header {
    background-color: #F6F6F6;
    border-bottom: 2px solid #E8ECEF;
    padding: 5px 12px 3px;
    margin-bottom: 10px; }
    #main #table-header h4 {
      display: inline-block; }
  #main .table-row {
    padding: 10px;
    height: 500px; }
    #main .table-row table {
      border: 2px solid #E4EDF2; }
      #main .table-row table thead {
        background: #ECF2F5;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ECF2F5 0%, #DCE8EF 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ECF2F5), color-stop(100%, #DCE8EF));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ECF2F5 0%, #DCE8EF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ECF2F5 0%, #DCE8EF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ECF2F5 0%, #DCE8EF 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #ECF2F5 0%, #DCE8EF 100%);
        /* W3C */ }

.modal-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 10px solid rgba(0, 0, 0, 0.5); }

.modal-outer {
  margin: 0;
  padding: 0; }

.custom-modal {
  padding: 0;
  overflow: hidden; }
  .custom-modal .modal-header {
    background-color: #C9D2D5;
    padding: 8px;
    bold-weight: bolder; }
  .custom-modal .row label {
    font-size: 1.2em;
    color: #7F7F7F;
    font-weight: normal; }
  .custom-modal .row input {
    display: inline-block;
    border-radius: 0; }
  .custom-modal .row .glyphicon {
    color: #B7B7B7;
    background-color: #F6F6F6;
    position: absolute;
    padding: 9px;
    padding-right: 9px;
    padding-left: 7px;
    left: 16px;
    border-right: 1px solid #CCC; }
  .custom-modal .row #price {
    text-align: right;
    padding-right: 8px; }
  .custom-modal .row textarea {
    border-radius: 0; }
  .custom-modal .modal-footer {
    background-color: #F6F6F6;
    padding: 10px; }
    .custom-modal .modal-footer button {
      margin-right: 8px; }

footer {
  text-align: center; }
