<div class="row">
    <div class="col-sm-12" id="table-header">
        <h4>{{daysName}} Purchases</h4>
        <button ui-sref="Purchases.add()" class="btn btn-primary pull-right">Add Purchase</button>
    </div>
    <div class="table-row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Purchase Name</th>
                    <th>Store Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchase in purchases">
                    <td ui-sref="Purchases.edit({index: purchase.id})" class="col-md-3">{{purchase.name}}</td>
                    <td ui-sref="Purchases.edit({index: purchase.id})" class="col-md-3">{{purchase.store}}</td>
                    <td ui-sref="Purchases.edit({index: purchase.id})" class="col-md-5">{{purchase.description}}</td>
                    <td ui-sref="Purchases.edit({index: purchase.id})" class="col-md-1 price">{{purchase.price}}</td>
                    <td ng-click="deletePurchase(purchase.id)">
                        <button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

